/* rgb(26, 33, 48)
rgb(90, 114, 160)
rgb(131, 180, 255)
rgb(253, 255, 226) */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Cairo", sans-serif;
    background-color: rgba(253, 255, 226, 0.4);
}
nav {
    display: flex;
    background-color: rgb(26, 33, 48);
    width: 100%; 
    justify-content: flex-end;
    margin: auto;
    height: 90px;
    align-items: center;
    padding: 0 10px; 
}
.nav-components {
    width: 100%;
    max-width: 900px; /* Optional max width */
    display: flex;
    justify-content: space-around;
}
/* nav::after{
    content: '';
    width:5px;
    height:90px;
    background-color: rgb(131, 180, 255);
} */
.nav-components{
    width:45%;
    display: flex;
    justify-content: space-around;
}
.nav-link{
    text-decoration: none;
    font-size: 25px;
    color:rgb(131, 180, 255);
    transition: color 0.3s ease;
    
}
.nav-link:hover{
    color: rgb(253, 255, 226);
    text-shadow: 5px 5px 5px rgba(253,255,226,0.4);
}
.AddBlogs {
    font-weight: bold;
    font-size: 30px;
    margin-right: auto; 
    color: rgb(131, 180, 255);
    text-shadow: 5px 5px 5px rgba(253, 255, 226, 0.4);
    width: fit-content;
}
@media (max-width: 768px) {
    .nav-link {
        font-size: 20px; 
    }
    
    .AddBlogs {
        font-size: 25px; 
    }

    .nav-components {
        justify-content: space-between;
    }
}
